body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #FEE505;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
}

h1, img, button, p {
  margin: 10px 0;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #FF9800; /* Couleur orange */
  color: white; /* Texte blanc */
  border: none; /* Pas de bordure */
  border-radius: 4px; /* Coins arrondis */
  cursor: pointer; /* Curseur en forme de main */
  transition: background-color 0.3s ease; /* Transition de couleur */
}

button:hover {
  background-color: #F57C00; /* Couleur orange foncé au survol */
}

#blague-text {
  font-size: 18px;
}